Module Test${prod.get_productShortName()}

    Public outputFileNum As Integer

    Sub Main()

        Dim args As String
        args = ""

        Dim OK As Boolean
        OK = False
        Dim allOK As Boolean
        allOK = True

        Utilities.setShowDetails(False)
        Utilities.setShowModules(False)

        If Command = "details" Then
            Utilities.setShowDetails(True)
        ElseIf Command = "modules" Then
            Utilities.setShowModules(True)
        End If

        Dim inputPath As String
        inputPath = "..\..\..\data\input\"
        Dim refPath As String
        refPath = "..\..\..\data\ref\"

        outputFileNum = FreeFile
        FileOpen(outputFileNum, "..\..\..\report\outputs.txt", OpenMode.Output)

        PrintLine(outputFileNum, "")
        PrintLine(outputFileNum, "---------- Testing ${prod.get_productName()} for VB .Net ----------")

#foreach ($mod in $prod.modules)
#**##if (!${mod.is_onlyC()} && ${mod.is_release()})
        '***** ${mod.get_moduleName()} *****
        OK = Test${prod.get_productShortName()}${mod.get_moduleNameNoSpace()}.testModule(inputPath & "${mod.get_moduleNameLowerScore()}/", refPath & "${mod.get_moduleNameLowerScore()}/")
        Utilities.printModuleResult(result:=OK, msg:="----Test ${prod.get_productShortName()} ${mod.get_moduleName()} module----")
        allOK = OK And allOK
	
#**##end
#end
        Utilities.printResult(result:=allOK, msg:="------Test ${prod.get_productName()} for VB .Net------")

        PrintLine(outputFileNum, "")
        PrintLine(outputFileNum, "--------------------------------------------")

        FileClose(outputFileNum)
        
    End Sub

End Module
