[OPTIONS]
Compatibility=1.1 or later
Compiled file=${prod.get_productShortNameLower()}.chm
Contents file=${prod.get_productShortNameLower()}.hhc
Default topic=Integration.html
Display compile progress=No
Index file=${prod.get_productShortNameLower()}.hhk
Language=0x40c Français (France)


[FILES]
Integration.html
Installation.html
Import.html
Use.html
Example.html
FunctionsDescription.html
#foreach ($mod in $prod.modules)
#**##if (!${mod.is_onlyC()} && ${mod.is_release()})
#*    *#${mod.get_moduleNameNoSpace()}.html
#*    *##foreach ($func in $mod.functions)
#*        *##if (!${func.is_onlyC()} && ${func.is_release()})
#*            *#${func.get_functionName()}.html
#*        *##end
#*    *##end
#**##end
#end

[INFOTYPES]

